{% extends 'base.html' %}

{% block content %}   

{% if error_message %}
<p><span style="color: red"><strong>{{ error_message }}</strong></span></p>
{% endif %}

<form action="{% url 'wvs_point_questionnaire' %}" method="post">

    {% csrf_token %}

    {% for question in questions_list %}

        <b>{{ question.question_text }}</b><br><p>

        {% for choice in question.choice_set.all %}

            {% if question.question_name == 'autonomy' %} 

                {% if choice.choice_text == 'Obedience' or choice.choice_text == 'Religious faith' %}

                {{ choice.choice_text }}
                <input type="checkbox"  name="{{ question.question_name }}" value="3.0" />
                <br>

                {% else %}

                {{ choice.choice_text }}
                <input type="checkbox" name="{{ question.question_name }}" value="{{ choice.value }}" />
                <br>

                {% endif %}

            {% else %}

                {% if question.question_name == 'godimp' or question.question_name == 'homosexuality' or question.question_name ==  'abortion'  %}
                
                    <div style="display: inline-block;"" class="form-check form-check-inline"">
                        {{ choice.choice_text }}
                        <input class="form-check-input" type="radio" name="{{ question.question_name }}" id="inlineRadio1" value="{{ choice.value }}">
                        <label class="form-check-label" for="inlineRadio1"></label>
                        <br>
                    </div>

                {% else %}

                {{ choice.choice_text }}
                <input type="radio" name="{{ question.question_name }}" value="{{ choice.value }}" />
                <br>

                {% endif %}

            {% endif %}

            

        {% endfor %}
        </p>
    {% endfor %}

    <button type="submit" class="btn btn-primary">Submit</button>

</form>

{% endblock %}