{% load static %}
<!DOCTYPE HTML>
<html lang="en">
<head>
    <meta charset="UTS-8">
    <meta name="viewport" content="width-device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie-edge">
    <title>
        {% block title %}
            Countries Questionnares
        {% endblock %}
    </title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
<div class="container">
  <div class="row">
    <div class="col-md-12 mt-2" style="min-width: 275px;">
    {% block content %}
        <p>
        Welcome to the questionnaire!
        <br>
        Here you can get your personal point on the Inglehart–Welzel Cultural Map.
        </p>
        <p> 
        <a href="{% url 'wvs_point_about' %}">More about the Inglehart–Welzel map</a>
        </p>
        <p>
        <a class="btn btn-primary" href="{% url 'wvs_point_questionnaire' %}">Run the test</a>
        </p>
        <p>
        Later a second more complex questionnaire will be added.
    {% endblock %}
    </div>
  </div>
</div>
</body>
</html>
